@import url('./css/reset.css');
@import url('./css/typography.css');
@import url('./css/forms.style.css');

:root {
    --main-bg-color: #0b0d12;
    --main-text-color: #ccd5df;
    --border-color: #34587e;
    --nav-footer-color: #61dafb;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1.6rem;
    color: var(--main-text-color);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
.wrapper {
    color: var(--nav-footer-color);
    background-color: var(--main-bg-color);
}
.main-margin {
    margin: 10rem 0;
}
