.home {
    display: flex;
    justify-content: space-between;
    gap: 5rem;
}

.media {
    flex: 0 0 50%;
    box-shadow: 0 0.5rem 2rem 0 rgba(0, 0, 0, 0.5);
    border: 1px solid var(--border-color);
    overflow: hidden;
}

.media img {
    display: block;
    width: 100%;
    height: auto;
    transition: all 0.5s ease-in;
}
.media img:hover {
    transform: scale(1.05);
}
.site-header h1 {
    font-size: 5.4rem;
    letter-spacing: -0.5px;
    margin-bottom: 5rem;
    line-height: 1.2;
}
.site-header p {
    font-size: 1.8rem;
    margin-bottom: 5.5rem;
}
.cta-container {
    display: flex;
}

.cta {
    color: #ebfbee;
    font-size: 2.3rem;
    text-transform: uppercase;
    font-weight: 600;
    display: block;
    padding: 1.5rem 5rem;
    background-color: #2b8a3e;
    align-self: flex-start;
    border-radius: 0.5rem;
    transition: all 0.3s ease-in;
}
.cta:hover {
    background-color: #2f9e44;
}
